version: '3.8'
services:
  std-migrate:
    image: maomuriel/ubun22_04-php8_1-apache2_4:0.2.0
    container_name: "std-migrate"
    stdin_open: false # docker run -i
    tty: false # docker run -t
    ports:
      - "8085:80"
    volumes:
      - "/path/to/project:/var/www/app"
      - "/path/to/std-files-directory/:/home/admin/archivos"
    depends_on:
      - "std-migrate-db"
    links:
      - "std-migrate-db:mysql"
  std-migrate-db:
    image: mysql:5.5
    container_name: "std-migrate-db"
    environment:
      - "MYSQL_ROOT_PASSWORD=xxxx"
    volumes:
      - "/path/to/mysql/data-directory:/var/lib/mysql"
    ports:
      - "3306:3306"
  std-migrate-phpmia:
    container_name: "std-migrate-phpmia"
    image: "phpmyadmin/phpmyadmin"
    environment:
      - "PMA_HOST=std-migrate-db"
    ports:
      - "8090:80"
    depends_on: 
      - "std-migrate-db"
    links: 
      - "std-migrate-db"
